# IDEs & Editors
.project
.settings
.toolstarget
.vs/
.vscode/
.idea
**/*.*proj.user

# Build outputs & Dependencies
bin/
obj/

# Environment & Secrets
**/secrets.dev.yaml
**/values.dev.yaml
.env
*.pfx

# Ignored Meta / Config
**/Dockerfile*
**/*.dbmdl
**/*.jfm
**/azds.yaml
*.mdj